{
	"semi": true,
	"singleQuote": false,
	"tabWidth": 2,
	"useTabs": true,
	"printWidth": 80,
	"arrowParens": "always",
	"trailingComma": "all",
	"jsxBracketSpacing": true,
	"camelcase": "error",
	"proseWrap": "preserve",
	"endOfLine": "crlf"
}
